body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.browse-container {
    width: 800px;
    background-image: url('../assets/leopard-pattern.jpg'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: left;
}

.header-button {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.header-button:hover {
    text-decoration: underline;
}

.clothing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.clothing-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    position: relative;
}

.clothing-item img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
}

.clothing-item button {
    background-color: #999;
    color: #000;
    border: 2px solid #000;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
}

.clothing-item button:hover {
    background-color: #777;
}

.side-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #999;
    color: #fff;
    border: 2px solid #000;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.side-button.left {
    left: -80px;
    background-color: #0000ff; /* Blue color for Upload button */
}

.side-button.right {
    right: -80px;
    background-color: #808080; /* Grey color for List button */
}

.side-button:hover {
    background-color: #777;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 10px 20px;
}

.footer-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.footer-button:hover {
    background-color: #777;
}
