/* BrowseClothing.css */

.browse-container {
  width: 100vw; /* Full viewport width */
  height: calc(100vh - 148px); /* Full viewport height minus header and footer height */
  background-image: url('../assets/leopard-pattern.jpg');
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Arrange columns vertically */
  align-items: center;
  justify-content: center; /* Center items vertically */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  overflow: hidden; /* Prevent overflow */
}

.column {
  display: flex;
  flex-direction: column;
  width: 443px; /* Set column width */
  justify-content: flex-start; /* Align items to the start */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.row img {
  width: 443px; /* Set image width */
  height: 289px; /* Set image height */
  object-fit: cover; /* Crop the image to fit the dimensions */
  object-position: center; /* Center the image within the container */
  border-radius: 5px;
}

.row.buttons-container {
  height: 50px; /* Set button row height */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure buttons span full width of the column */
  background-color: black; /* Set background color of the container */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.row.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure buttons span full width of the container */
  max-width: 443px; /* Match the width of the image */
  padding: 0 1em; /* Add some padding inside the container */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.row.buttons button {
  width: 144px; /* Set button width */
  height: 50px; /* Set button height */
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  font-family: 'LeviAdobeDia', sans-serif;
  font-weight: bold;
  margin: 0; /* Remove margin */
  border-radius: 0; /* Remove border radius for sharp edges */
}

.row.buttons button:hover {
  background-color: #aaa;
}
