/* ClothingItemList.css */

.list-container {
  width: 100vw; /* Full viewport width */
  height: calc(100vh - 80px); /* Full viewport height minus header and footer height */
  background-image: url('../assets/leopard-pattern.jpg'); /* Leopard background image */
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 74px; /* Space for the fixed header */
  padding-bottom: 74px; /* Space for the fixed footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
}

.list-content {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9); /* Black semi-transparent background for content */
  border: 3px solid #000; /* Thick border for a 90s feel */
  box-shadow: 5px 5px 0 #000, -2px -2px 0 #fff; /* Shadow for 90s effect */
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff; /* White text color */
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  width: 80%; /* Reduce width for smaller content box */
}

.clothing-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clothing-item {
  position: relative;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #000; /* Thick border for a 90s feel */
  box-shadow: 5px 5px 0 #000, -2px -2px 0 #fff; /* Shadow for 90s effect */
  padding: 10px;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
}

.clothing-item img {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #000;
}

.clothing-item p {
  margin-top: 5px;
  color: #000;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  display: none; /* Initially hide the text */
}

.clothing-item:hover p {
  display: block; /* Show the text on hover */
}

.clothing-item button {
  background-color: #007bff;
  color: #fff;
  border: 3px solid #000; /* Thick border for a 90s feel */
  padding: 10px;
  cursor: pointer;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  box-shadow: 3px 3px 0 #000, -1px -1px 0 #fff; /* Shadow for 90s effect */
}

.clothing-item button:hover {
  background-color: #0056b3;
}
