/* ClothingItemUpload.css */

.upload-page {
  width: 100vw; /* Full viewport width */
  min-height: calc(100vh - 120px); /* Full viewport height minus header and footer height */
  background-image: url('../assets/leopard-pattern.jpg'); /* Leopard background image */
  background-size: cover; /* Ensure the background image covers the container */
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px; /* Space for the fixed header */
  padding-bottom: 60px; /* Space for the fixed footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  background-color: #A9A9A9; /* Black background for content */
  border: 3px solid #000; /* Thick border for a 90s feel */
  box-shadow: 5px 5px 0 #000, -2px -2px 0 #fff; /* Shadow for 90s effect */
  border-radius: 10px;
  color: #fff; /* White text color */
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-container h1, .upload-container label, .upload-container input, .upload-container button {
  color: #fff; /* Ensure white text color */
  text-shadow: 1px 1px 0 #000; /* Text shadow for 90s effect */
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

nav a {
  text-decoration: none;
  color: #0078d7;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
}

input[type="file"] {
  display: block;
  margin: 1em 0;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  background-color: #C0C0C0;
  border: 3px solid #000; /* Thick border for a 90s feel */
  box-shadow: 3px 3px 0 #000, -1px -1px 0 #fff; /* Shadow for 90s effect */
  padding: 0.5em;
}

input[type="radio"] {
  margin-right: 0.5em;
}

div {
  margin: 1em 0;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  font-size: large;
}

label {
  margin-right: 1em;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  font-size: x-large;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 5px;
}

button {
  display: block;
  margin: 1em;
  padding: 0.5em 2em;
  background-color: #0078d7;
  color: #fff;
  border: 3px solid #000; /* Thick border for a 90s feel */
  box-shadow: 3px 3px 0 #000, -1px -1px 0 #fff; /* Shadow for 90s effect */
  cursor: pointer;
  font-family: 'LeviAdobeDia', sans-serif; /* Imported font */
  font-size: large;
}

button:hover {
  background-color: #0056b3;
}
