/* App.css */

@font-face {
  font-family: 'LeviAdobeDia';
  src: url('./fonts/LeviAdobeDia.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'LeviAdobeDia', sans-serif;
}

.header {
  background-color: black;
  color: white;
  width: 100vw;
  height: 60px; /* Set height to 60 pixels */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 3px solid #000; /* Add border for 90s effect */
  box-shadow: 0 4px 2px -2px gray; /* Add shadow for 90s effect */
}

.header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: large;
}

.header nav {
  display: flex;
  gap: 2em;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'LeviAdobeDia', sans-serif;
  border: 2px solid #000; /* Add border for 90s effect */
  padding: 5px 10px; /* Add padding for 90s effect */
  box-shadow: 3px 3px 0 #000, -1px -1px 0 #fff; /* Add shadow for 90s effect */
}

.header nav a:hover {
  text-decoration: underline;
}

.footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 60px; /* Set height to 60 pixels */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 3px solid #000; /* Add border for 90s effect */
  box-shadow: 0 -4px 2px -2px gray; /* Add shadow for 90s effect */
}

.more-text {
  cursor: pointer;
  font-family: 'LeviAdobeDia', sans-serif;
  font-weight: bold;
  font-size: x-large;
  border: 2px solid #000; /* Add border for 90s effect */
  padding: 5px 10px; /* Add padding for 90s effect */
  box-shadow: 3px 3px 0 #000, -1px -1px 0 #fff; /* Add shadow for 90s effect */
}

.more-text:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-family: 'LeviAdobeDia', sans-serif;
  font-weight: bold;
}
