@font-face {
  font-family: 'LeviAdobeDia';
  src: url('./fonts/LeviAdobeDia.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  overflow: hidden;
  font-family: 'LeviAdobeDia', sans-serif;
}

#root {
  /*display: flex;
  flex-direction: column;*/
  /*height: 100%;*/
}

main {
  /*flex: 1;*
  padding: 0; /* Remove padding */
}

img {
  /*max-width: 100%;*/
  height: auto;
  display: block;
}
